.hidden {
    display: none;
}

.w-h-full {
    width: 100%;
    height: 100%;
}

.w-f {
    width: 100%;
}

// .hairlines div {
//      border-width: 0.5px;
// }
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fs-36 {
    font-size: 36px;
}

.lh-33 {
    line-height: 33px;
}

.lh-50 {
    line-height: 50px;
}

.mg-0 {
    margin: 0;
}

.mg-t-20 {
    margin-top: 20px;
}

.mg-v-10 {
    margin: 10px 0px;
}

.fixed {
    position: fixed;
}

.flex-row {
    display: flex;
    flex-grow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}