div {
    border-width: 1px solid;
}
   
.hairlines div {
    border-width: 0.5px;
}
.mg-0{
    margin: 0;
}
.mg-v-10{
    margin: 10px 0px;
}
.fixed{
    position: fixed;
}
.flex-row{
    display: flex;
    flex-grow:row wrap;
}
.flex-column{
    display: flex;
    flex-flow: column nowrap;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}