@import "./common.scss";
@import "./extend.scss";
@import "./variable.scss";

html,body,#app{
  height:100%;
}
.svgIcon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin:auto;
 }
.c-tag {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    background: rgba(255, 202, 72, 1);
    border-radius: 22px;
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
  .gray-font{
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 33px;
  }
  .normal-font{
    height:42px;
    font-size:30px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:42px;
  }
  .backdrop{
    background:rgba(0,0,0,.7);
  }
  .bg-shadow::before{
    content:"";
    position:relative;
    z-index:2;
    display:block;
    box-shadow: 0 0 200px 200px rgba(0,0,0,.1);
  }
.bar-height {
    height: 1.25rem;
}
.rotate180{
  transform: rotate(180deg);
  transition: all .2s;
}
.animated.d400 {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

.animated.d600 {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}

.animated.d800 {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

.animated.d1000 {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
}
.slideRight-enter,.slideRight-leave-active{
  transform: translateX(100%)
}
.slideRight-enter-active,.slideRight-leave-active{
  transition: all .5s ease-out;
}
.slide-up-enter,.slide-up-leave-active{
  transform: translateY(-100%)
}
.slide-up-enter-active,.slide-up-leave-active{
  backface-visibility: hidden;
  transition: .1s ease-in;
}